@charset "UTF-8";

body {
    background-color: rgb(31, 31, 31);
    font: normal 1rem Arial;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecalho {
    color: white;
}

.cartao {
    background-color: white;
    width: 70%;
    max-width: 500px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.cartao__resultado {
    text-align: center;
}

.rodape {
    color: white;
    font-style: italic;
}